html {
    font-size: 16px;/* 16px = 1rem */
}
body {
padding: 1rem;
}
ul {
margin: 0;
padding: 0;
list-style-type: none;
}
.menu {
    display: flex;
}

li {
    font-size: 1.5rem;
}

/* link a riposo*/
a, a:link { 
    color: #f00;
    text-decoration: none;
}

/* link visitato*/
a:visited { 
    color: #00f;    
}

/*cursore su link*/
a:hover, a:focus { 
    color: #0f0;    
}

/* link premuti*/
a:active { 
    color: #ff0;    
}




