* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    font-family: 'Arial Black', sans-serif;
}

.poster-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
}

.corner {
    position: absolute;
    color: white;
    font-size: 4vw;
    font-weight: 900;
}

.top-left { top: 15px; left: 15px; }
.top-right { top: 15px; right: 15px; }
.bottom-left { bottom: 15px; left: 15px; }
.bottom-right { bottom: 15px; right: 15px; }

.main-title {
    color: #83100a;
    font-size: 14vw;
    margin-top: 50px;
    line-height: 1;
    text-align: center;
}

.image-wrapper {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.image-wrapper img {
    width: 100%;
    max-height: 40vh;
    object-fit: contain;
}

.footer-info {
    text-align: center;
    width: 100%;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

.date {
    color: #83100a;
    font-size: 6vw;
    margin: 0;
    line-height: 1;
}

.location {
    color: white;
    font-size: 8.5vw;
    margin: 0;
    text-transform: uppercase;
    line-height: 1;
}