* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    font-family: 'Arial Black', sans-serif;
}

.poster-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 2vw;
    position: relative;
}

.corner {
    position: absolute;
    color: white;
    font-size: 1.8vw;
    font-weight: 900;
}

.top-left { top: 2vh; left: 2vw; }
.top-right { top: 2vh; right: 2vw; }
.bottom-left { bottom: 2vh; left: 2vw; }
.bottom-right { bottom: 2vh; right: 2vw; }

.main-title {
    color: #83100a;
    font-size: 10vh;
    margin: 0;
    line-height: 0.9;
    text-align: center;
    letter-spacing: -2px;
}

.image-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 50vh;
}

.image-wrapper img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.footer-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.date {
    color: #83100a;
    font-size: 4vh;
    margin: 0;
    font-weight: 900;
}

.location {
    color: white;
    font-size: 7vh;
    margin: 0;
    text-transform: uppercase;
    line-height: 1;
}