body{ 
    background-color: aqua;  
    font-size: 30px;
    color: purple



    
}#container{
    border: 5px solid black;
    padding: 20px;
    margin: 20px;

}
#page {
    text-align: center;
    font-size: 50px;
    color: blue; 
    border: 3px solid green;
    margin: 10px;


}
.gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;  
    align-items: center;
    align-content: center;      
    height: 750px;
    border: 2px solid red;
    margin: 10px;

    
    
}
img {
    width: 200px;
    height: 300px;
    border: 2px solid rgb(0, 6, 128);
    margin: 10px;

}
img:hover {
    border: 2px solid orange;
}  
figcaption {
    font-size: 20px;
    font-style: italic;
    color: green;
}
figure {
    margin: auto;
}         