html {
    font-size: 16px; /*16px = 1rem */
}
#page {
    width: 100vw;
    height: 100dvh;
    background: #ecb85e;
    display: flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.shape {
    aspect-ratio: 1/1;
    color: #000;
    background-color: hsl(0, 0%, 20%, 0.5%);
    display: flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.square1 {
    width: 100px;
    background-color: hsla(180, 100%, 50%, 0.5);
}
.square2 {
    width: 100px;
    background-color: hsl(0, 0%, 0%);
}
.square3 {
    width: 100px;
    background-color: hsl(0, 100%, 50%);
}
.circle1{
    width: 150px;
    aspect-ratio: 1/1;
    background-color: #000;
    border-radius: 50%;
}
.circle2{
    width: 150px;
    aspect-ratio: 1/1;
    background-color: hsl(0, 100%, 50%);
    border-radius: 50%;
}
.circle3{
    width: 150px;
    aspect-ratio: 1/1;
    background-color: hsla(180, 100%, 50%, 0.5);
    border-radius: 50%;
}   
.pos1 {
    position: absolute;
    top: 10px;
    left: 10px;
}
.pos2 {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 5;
}   
.pos3 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
}
  
 